<div class="user-details">
  <h1>About</h1>
  <p>Altentee is a private company, established in 2008 and based in Australia. It is operated by <a href="https://timkoopmans.com">Tim Koopmans</a> who is behind a number of successful ventures. Between 2008 to 2012, Tim was heavily involed in open source performance testing, before moving on to establish the successful load tesing platform, <a href="https://flood.io">Flood IO</a> in 2013. Following acquisition of Flood by <a href="https://www.tricentis.com/blog/load-testing-flood/">Tricentis</a> in 2017, Tim has since turned his hobby and passion for educational games into a weekend project, under the moniker, <a href="https://correkt.horse">Correkt Horse Gaming</a>.</p>
</div>
