<div class="user-details">
  <h1>Hyper Casual</h1>
  <p><a href="https://altentee.com">Altentee</a> is the company behind these games. We create hyper casual games that make learning fun.</p>
  <p>Hyper casual games are all about fluid gameplay with immersive yet simple graphics. With no complex story-driven narratives and minimal design, they lend themselves well as scaffolding for the automatic recall of facts. By practising with something fun and straightforward, you can help youngsters develop memorization of these facts, essential to their development. We aim to make games you don't have to think much about while still exercising that big beautiful brain of your child in a positive way.</p>
  <p>Our games are built with the following principles in mind:</p>
  <p>
    <ul>
      <li>
        <h3>Have Fun Learning</h3>
        <p>
          Learning through fun is a powerful construct. I wouldn't be making these games today if I hadn't discovered the joy of solving <a href="https://en.wikipedia.org/wiki/King%27s_Quest">King's Quest</a> or spent many Summer afternoons at the local fish and chip shop, pumping 20 cent pieces into <a href="https://en.wikipedia.org/wiki/Super_Mario">Super Mario</a>. That early exposure to the fun of playing computer games has driven me to where I am today both professionally and vocationally. Learning must be fun, period.
        </p>
      </li>
      <li>
        <h3>No Advertising</h3>
        <p>
          Advertisements are a "marketing communication that employs openly sponsored messaging", but too often, also feature targeted, more hidden messaging that isn't appropriate for our youngsters. The last thing you want is an advertisement for a shoot-them-in-the-head sniper game when trying to learn math. Not to mention the constant drain of mental context-switching children faces daily. There are no advertisements, period.
        </p>
      </li>
      <li>
        <h3>No In-App Purchasing</h3>
        <p>
          In-app purchases "include premium content, digital goods and subscriptions" directly within your app. Unfortunately, it also tends to mask the exact price of the game, not to mention exponential pleading from your children to unlock the next prominent feature. We use a paid model, where you pay once to download our games and use all of its functionality. There are no additional charges, period.
        </p>
      </li>
    </ul>
  </p>
</div>
