<div class="user-details">
  <h1>Games</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="flymath" src="{{ "/assets/img/flymath.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents" id="flymath">
    <h3> FLYMATH </h3>
    <p>
      An educational game which makes learning and remembering times tables fun. Fly the plane through the hoops as you chase the sun.
    </p>
    <p>
      FlyMath is a simple, fluid game that gives the player a choice of two numbers to solve the multiplication equation. The equations are grouped from 2 to 12 times tables and also features a random mode. All equations are randomly generated so you can test non linear recall of facts. As the level progresses, the equations are generated more quickly. The player can test themselves by trying to beat their high score throughout the levels.
    </p>
    <a class="project-link" href="https://apps.apple.com/au/app/flymath/id1511276409">Check it out</a>
    <a class="project-link" href="games/flymath/privacy.html">Privacy</a>
    <a class="project-link" href="games/flymath/terms.html">Terms</a>
  </div>
</div>
