<div class="user-details">
  <h1>Projects</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="flymath" src="{{ "/assets/img/flymath.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Correkt Horse Gaming </h3>
    <p>Hyper casual games are all about fluid gameplay with immersive yet simple graphics. With no complex story-driven narratives and minimal design, they lend themselves well as scaffolding for the automatic recall of facts. By practising with something fun and straightforward, you can help youngsters develop memorization of these facts, essential to their development. Correkt Horse Gaming aims to make games you don't have to think much about while still exercising that big beautiful brain of your child in a positive way.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
