<div id="support">
  <h3>Request Support</h3>
    <form
      action="https://formspree.io/info@altentee.com"
      method="POST"
    >
    <p>
      <label>
        Your email:<br>
        <input type="text" name="_replyto" class="project-link" style="width:50%">
      </label>
    </p>
    <p>
      <label>
        Your message:<br>
        <textarea name="message" class="project-link" style="width:100%"></textarea>
      </label>
    </p>
      <button class="project-link" type="submit">Send Request</button>
    </form>
</div>
